pip==23.0.1
anyio==3.6.2
click==8.1.3
colorama==0.4.6
contourpy==1.0.6
cycler==0.11.0

fastapi==0.94.1
fonttools==4.38.0
h11==0.14.0
idna==3.4
importlib-resources==5.12.0
kiwisolver==1.4.4
matplotlib==3.5.3
numpy==1.21.6
packaging==23.0
pandas==1.3.5
pandasql==0.7.3
Pillow==9.4.0
pydantic==1.10.6
pyparsing==3.0.9
python-dateutil==2.8.2
pytz==2022.7.1
seaborn==0.12.2
six==1.16.0
sniffio==1.3.0
SQLAlchemy==1.4.17
sqldf==0.4.2
starlette==0.26.1
typing_extensions==4.5.0
uvicorn==0.21.0
zipp==3.15.0
